html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.top{
  background-color: rgb(109, 3, 248);
  line-height: 1.1;
  font-size: 10px;
  text-align: center;
  padding: 15px 0;
  /* opacity: .7; */
}
.top span{
  display: block;
}
.top span:nth-child(2){
  font-size: 50px;
}

.bottom{
  flex-grow: 1;
  background-color: #232323;
  display: flex;
}

.game-center{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.rgb-text{
  text-align: center;
}
.boxes{
  display: flex;
  margin-top: 20px;
}
.box{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.box:last-child{
  margin-right: 0;
}

/* modal */
.modal{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.modal.show{
  display: flex;
}
.modal-button{
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
}
